######################################################################
# Visual Studio Code settings
######################################################################
.vscode/*

######################################################################
# Files for viewing Voronoi cells
######################################################################

# Images
*.png

# POV-Ray files
*.pov
*.pov.bak

# GNUPlot files
*.gnu

######################################################################
# Temp/output files
######################################################################

# CSV files
*.csv

######################################################################
# Default GitHub C++ .gitignore
######################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
